<div class="container">
  <div class="row">
    <div class="col-md-4 left-bar">
      <div class="d-flex flex-column">
        <img class="img-thumbnail rounded-circle align-self-center mt-5 mb-3" src="./assets/images/profile.jpg" alt="jay_profile_image">
        <div class="d-flex flex-column align-items-center">
          <div class="h2" translate>{{ 'resume.name' }}</div>
          <div class="h4" translate>{{ 'resume.title' }}</div>
        </div>
      </div>
      <div>
        <div class="h4 header" translate>{{ 'header.personal_info' }}</div>
        <small translate>{{ 'header.email' }}</small>
        <div translate>
          <i class="fa fa-envelope" aria-hidden="true"></i>
          {{ 'resume.personal_info.email' }}
        </div>
        <small translate>{{ 'header.mobile' }}</small>
        <div translate>
          <i class="fa fa-mobile" aria-hidden="true"></i>
          {{ 'resume.personal_info.mobile' }}
        </div>
        <small translate>{{ 'header.linkedin' }}</small>
        <div translate>
          <i class="fa fa-linkedin" aria-hidden="true"></i>
          {{ 'resume.personal_info.linkedin' }}
        </div>
      </div>
      <div>
        <div class="h4 header" translate>{{ 'header.key_skill' }}</div>
        <ul>
          <li *ngFor="let s of skill">{{ s }}</li>
        </ul>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row d-flex justify-content-end">
        <button class="btn btn-sm btn-link" (click)="translate.use('zh-TW')">繁體</button>
        <button class="btn btn-sm btn-link" (click)="translate.use('en-US')">English</button>
      </div>
      <ngb-tabset>
        <ngb-tab>
          <ng-template ngbTabTitle><span translate>{{ 'header.resume' }}</span></ng-template>
          <ng-template ngbTabContent>
            <div>
              <div class="h4 header2" translate>{{ 'header.experience' }}</div>
              <div class="row my-1" *ngFor="let e of experience">
                <div class="col-md-12">
                  <div>
                    <span class="h5" translate>{{ e.title }}</span>
                    <div class="float-right">
                      <span translate>{{ e.start }}</span> - <span translate>{{ e.end }}</span>
                    </div>
                  </div>
                  <div translate>{{ e.company }}</div>
                  <ul class="mt-1">
                    <li *ngFor="let c of e.contribution">{{ c }}</li>
                  </ul>
                </div>
              </div>
            </div>
            <div>
              <div class="h4 header2" translate>{{ 'header.education' }}</div>
              <div class="row my-1" *ngFor="let e of education">
                <div class="col-md-3">
                  <span translate>{{ e.start }}</span> - <span translate>{{ e.end }}</span>
                </div>
                <div class="col-md-9">
                  <div class="h5" translate>{{ e.school }}</div>
                  <div translate>{{ e.dept }}</div>
                  <div translate>{{ e.degree }}</div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle><span translate>{{ 'header.project' }}</span></ng-template>
          <ng-template ngbTabContent>
            <div class="row my-2" *ngFor="let p of project">
              <div class="col-md-12">
                <div class="h4">
                  <span class="mr-2">{{ p.date }}</span>
                  <span>{{ p.name }}</span>
                </div>
                <div>
                  <p>{{ p.abstract }}</p>
                </div>
                <div *ngIf="p.link">
                  <strong translate>{{ 'header.link' }}</strong>:
                  <a [href]="p.link">{{ p.link }}</a>
                </div>
                <div>
                  <strong translate>{{ 'header.role' }}</strong>:
                  <span class="badge badge-pill badge-success mr-1" *ngFor="let r of p.duty">{{ r }}</span>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
